<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="MySuite" parallel="none">
    <test name="MyTest1">
        <classes>
            <class name="testNGSample.TC1"/>
        </classes>
    </test>
    <test name="MyTest2">
        <classes>
            <class name="testNGSample.TC2"/>
        </classes>
    </test>
</suite>